.hello
    h1=model._id
    p LERM (Learncast ERP/CRM) is Open Source ERP/CRM (Invoice / Inventory / Accounting / HR) Based on Advanced Mern Stack (Node.js / Express.js / MongoDb / React.js ) with Ant Design (AntD) and Redux
    img(src="https://www.7erver.com/images/favicon.png", alt="sssss")